
.moonrock-block-title, .moonrock-block-middle-content, .moonrock-block-bottom-content {
  margin-left: 5px;
}

.moonrock-block-title {
  color: #fff;
  padding: 5px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border: 1px solid #888;
  background-color: #1348A1;
  font-weight: bold;
}

.moonrock-block-middle-content, .moonrock-block-bottom-content {
  padding: 0px 5px 0px 5px;
  border-top: none;
  background-color: #f4f4f4; /*EDEDED;*/
  border: 1px solid #E3E3E3;
}

.moonrock-block-middle-content {
  border-bottom: none;
  overflow: auto;
}

.moonrock-block-bottom-content {
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
}

.moonrock-block-overlay {
  position: fixed;
  background: rgba(255, 255, 255, .5);
}
