

.moonrock-block-column {
  width: 175px;
  padding-left: 10px;
  position: relative;
}

.moonrock-block {
  position: relative;
  height: 100%;
}

.moonrock-block .overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25); 
  display: none;
}

.moonrock-block h2.title {
  color: #fff;
  padding: 4px 10px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border: 1px solid #888;
  background-color: #1348A1;
}

.moonrock-block .content {
  margin: 0;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top: none;
  background-color: #EDEDED;
  border: 1px solid #E3E3E3;
  padding: 10px;
}
