


.item-browser {
  padding: 5px;
  border-radius: 5px;
  background: #222;

  width: 100%;
}

.item-browser-left, .item-browser-right {
  width: 24px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.item-browser-left.enabled, .item-browser-right.enabled {
  cursor: pointer;
}

.item-browser-left {
  background-image: url(icons/browser_left_disabled.png);
}
.item-browser-right {
  background-image: url(icons/browser_right_disabled.png);
}
.item-browser-left.enabled {
  background-image: url(icons/browser_left.png);
}
.item-browser-right.enabled {
  background-image: url(icons/browser_right.png);
}

.item-browser-heading {
  height: 15px;
  color: #ccc;
  font-weight: bold;
  margin-left: 30px
}

.item-browser-content {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 

  display: -moz-inline-box;
  display: -webkit-inline-box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  height: 70px;
  width: 100%;
}

.item-browser-container {
  position: relative;
  height: 100%;

  overflow: hidden;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.item-browser-slider {
  height: 100%;
  white-space:nowrap;
  position: absolute;
  top: 0px;
  left: 0px;
}

.item-browser-item {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  position: relative;
  display: inline-block;
  height: 100%;
  background: #aaa;
  margin: 0px 2px 0px 2px;
  border-width: 3px;
  border-radius: 3px;

  border-style: solid;
  border-color: #222;
  /*width: auto;*/
}

.item-browser-item.item-browser-item-selected {
  border-style: solid;
  border-color: #f44;
}

.item-browser-item img {
  height: 100%;  
  width: auto;
}

.item-browser-item .open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item-browser-item:hover .open {
  background: url(icons/magnifier.png) no-repeat center;
}






/*

.item-browser-container {
  position: relative;
  margin-left: 25px;
  height: 215px;
  margin-bottom: 20px;
}

.item-browser-scroll-container {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  height: 15px;
  width: 0px;
  background: #fafafa;
}

.item-browser-scroll-bar {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 100%;
  background: #c8c8c8;
  cursor: pointer;
}

.item-browser-item {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}

.item-browser-item-img-container {
  position: relative;
  width: 100%;
  border: 0px solid transparent;
  border-radius: 3px;
  padding: 3px;
  background: white;
}

.item-browser-item-new .item-browser-item-img-container {
  border: 0px solid transparent;  
  background: #7f7;
}

.item-browser-item-selected .item-browser-item-img-container {
  border: 0px solid transparent;
  background: #f77;
}


.item-browser-item-img {
  width: 100%;
  background: black;
}

.item-browser-item-img-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item-browser-item-img-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.item-browser-item-img-container:hover .item-browser-item-img-open {
  background: url(icons/magnifier.png) no-repeat center;
}

.item-browser-item-img-toggle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.item-browser-item-img-container:hover .item-browser-item-img-toggle {
  background: url(icons/arrow_undo.png) no-repeat center;
}


.item-browser-item-title {
  text-align: center;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
}

.item-browser-item-title-cluetip {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(icons/info.png) no-repeat right;
  background-size: 12px 12px;
}
.item-browser-item-title-open {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(icons/open.png) no-repeat right;
  cursor: pointer;
}

.item-browser-item-header {
  height: 17px;
  background: url(icons/clip_a.png) bottom right no-repeat;
}

.item-browser-item-header.item-browser-item-header-clip {
  background: url(icons/clip_b.png) bottom right no-repeat;
}

.item-browser-throbber {
  display: inline-block;
  height: 16px;
  width: 26px;  
}

.item-browser-throbber.active {
  background: url("icons/throbber.gif");
  background-repeat: no-repeat;
  background-position: right;
}

.item-browser-item-qtip {
  font-size: 12px;
  width: auto !important;
}
*/