


.item-browser {
  padding: 5px;
  border-radius: 5px;
  background: #222;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100%;
}

.item-browser-left, .item-browser-right {
  width: 24px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}
.item-browser-left.enabled, .item-browser-right.enabled {
  cursor: pointer;
}

.item-browser-left {
  background-image: url(icons/browser_left_disabled.png);
}
.item-browser-right {
  background-image: url(icons/browser_right_disabled.png);
}
.item-browser-left.enabled {
  background-image: url(icons/browser_left.png);
}
.item-browser-right.enabled {
  background-image: url(icons/browser_right.png);
}

.item-browser-heading {
  height: 15px;
  color: #ccc;
  font-weight: bold;
  margin-left: 30px
}

.item-browser-content {
  -webkit-box-sizing: border-box;  
  -moz-box-sizing: border-box;     
  box-sizing: border-box; 

  display: box;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -ms-flexbox;
  
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-flex-direction: row;
  box-orient: horitontal;

  height: 70px;
  width: 100%;
}

.item-browser-container {
  position: relative;
  height: 100%;

  overflow: hidden;
  
  display: inline-block;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
}

.item-browser-slider {
  height: 100%;
  white-space:nowrap;
  position: absolute;
  top: 0px;
  left: 0px;
}

.item-browser-item, .item-browser-phantom {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  position: relative;
  display: inline-block;
  height: 100%;
  margin: 0px 2px 0px 2px;
  border-width: 3px;
  border-radius: 3px;

  border-style: solid;
  border-color: #222;
  top: 0px;
}

.item-browser-item {
  background: #aaa;
}

.item-browser-phantom {
  width: 100px;
  background: #222;
  border-color: #555;
  text-align: center;
  cursor: pointer;
}

.item-browser-item.item-browser-item-selected {
  border-color: #f44;
  border-style: solid;
}
.item-browser-phantom.item-browser-item-selected {
  border-color: #f84;
  border-style: solid;
  background: #333;
}


.item-browser-item img.item-browser-item-main {
  height: 100%;  
  width: auto;
}
.item-browser-phantom img {
  height: 100%;
  padding: 15px 20px 15px 15px;
  width: auto;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  cursor: pointer;
}

.item-browser-item img.item-browser-item-annotation {
  position: absolute;
  width: 100%;
  height: 100%;  
  top: 0px;
  left: 0px;
}

.item-browser-item .open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item-browser-item:hover .open {
  background: url(icons/magnifier.png) no-repeat center;
}

.item-browser-item-message {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0px;
  text-align: center;
  display: none;
}

.item-browser-item-message span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  border: 2px solid #555;
  border-radius: 10px;
  background: #222;
  color: white;
  /*font-weight: bold;*/

  padding: 1px 12px 3px 12px;
}

.item-browser-item-selected .item-browser-item-message {
  display: block;
}

