

.layout-tabbed-container {
  width: 100%;
}

.layout-tabbed-container-tabs {
}

.layout-tabbed-container-tab {
  display: inline-block;
  border: 1px solid gray;
  padding: 2px;
}

.layout-tabbed-container-contents {
}

.layout-tabbed-container-content {
  display: none;
  width: 100%;
  height: 100%;
}

.layout-tabbed-container-content.layout-tabbed-container-selected {
  display: block;
}


.layout-tabbed-container-tab.layout-tabbed-container-selected{
  border-bottom: 1px solid transparent;
}

.layout-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-box {
  position: relative;
}
.layout-block {
  position: absolute;
}

.a {
  background: darkblue;
  border: 10px solid blue;
}

.b {
  width: 200px;
  background: darkgreen;
  border: 10px solid green;
}

.c {
  width: 30px;
  background: darkgoldenrod;
  border: 10px solid goldenrod;
}

.d {
  height: 60px;
  background: darkred;
  border: 10px solid red;
  margin: 3px;
}


html, body {
  padding: 0;
  border: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}