

.moonrock-measure-title {
  display: inline-block;
  font-weight: bold;
}

.moonrock-measure-info {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 16px;
  width: 20px;
  background: url(icons/info.png) no-repeat right;
}

.qtip-link {
  border: none !important;
}

