

.ui-dialog-title {
  font-size: 12px;
  font-weight: bold;
  
}

.ui-dialog .ui-dialog-titlebar {
  padding-top: 4px;
  padding-bottom: 3px;
}

.ui-dialog .ui-dialog-content {
  padding: 5px;
}



.moonrock-sample-iframe-top-container {
    padding: 0px;  
}

.moonrock-sample-iframe-container {
  width: 1000px;
  height: 680px;
  padding: 0px;  
  overflow: hidden;
}

.moonrock-sample-iframe {
  width: 1000px;
  height: 1000px;
  border: 0px;
}


.moonrock-sample-dlg-menu {
  height: 26px;
}

.moonrock-sample-dlg-menu-item {
  font-size: 12px;
  font-weight: bold;
  color: gray;
  display: inline-block;
}

.moonrock-sample-dlg-menu-item.enabled {
  cursor: pointer;
  color: black;
}

.moonrock-sample-dlg-menu-item.enabled:hover {
  color: darkorange;
}

.moonrock-sample-dlg-menu-save .moonrock-sample-dlg-menu-item-buttom {
  width: 21px;
  height: 16px;
  background: url(icons/save.png) no-repeat left;
  cursor: pointer;
  display: inline-block;
}
