
.search-tooltip-line {
  padding-left: 15px;
}

.search-tooltip-element {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: grey;
}
.search-tooltip-link {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-tooltip-link-active {
  cursor: pointer;
}


.search-tooltip-link-clear.search-tooltip-link-active {
  background: url(icons/folder_delete.png);
}

.search-tooltip-link-search.search-tooltip-link-active {
  background: url(icons/search.png);
}



.item-browser-container {
  position: relative;
  margin-left: 25px;
  height: 190px;
  margin-bottom: 20px;
}

.item-browser-scroll-container {
  position: absolute;
  overflow: hidden;
  top: 175px;
  left: 0px;
  height: 16px;
  width: 0px;
  background: #fafafa;
}

.item-browser-scroll-bar {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 100%;
  background: #c8c8c8;
  cursor: pointer;
}

.item-browser-item {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}

.item-browser-item-selected {
  border: 1px solid black;
  background: lightgreen;
  z-index: 1000;
}

.item-browser-item-img-container {
  position: relative;
  width: 100%;
}

.item-browser-item-img {
  width: 100%;
}

.item-browser-item-img-open {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.item-browser-item-img-open:hover {
  background: url(icons/magnifier2.png) no-repeat center;
}

.item-browser-item-title {
  text-align: center;
  font-weight: bold;
  height: 25px;
  overflow: hidden;
}

.item-browser-item-title-cluetip {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(icons/info.png) no-repeat right;
}
.item-browser-item-title-open {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(icons/open.png) no-repeat right;
  cursor: pointer;
}

.item-browser-item-header {
  height: 17px;
  background: url(icons/clip_a.png) bottom right no-repeat;
}

.item-browser-item-header.item-browser-item-header-clip {
  background: url(icons/clip_b.png) bottom right no-repeat;
}

.item-browser-throbber {
  display: inline-block;
  height: 16px;
  width: 26px;  
}

.item-browser-throbber.active {
  background: url("icons/throbber.gif");
  background-repeat: no-repeat;
  background-position: right;
}

.moonrock-sample-search-table {
  border: none;
}

.moonrock-sample-search-table tbody {
  border : none;
}

.moonrock-sample-search-table td, .moonrock-sample-search-table th {
    padding: 10px;
    border: 1px solid lightgray;
    vertical-align: top;
}

.moonrock-sample-search-snapshots-view-tab {
  height: 180px;
}
#moonrock-sample-search-snapshots-view-view {
  display: none;
}


.moonrock-sample-search-dlg {
  font-size: 12px;
}

.ui-dialog-title {
  font-size: 14px;
}

a.external_link div {
  display: inline-block;
  padding-left: 5px; 
  width: 12px;
  height: 12px;
  background: url(icons/external_link.png) center no-repeat;
}


.qtip-link {
  border: none !important;
}

.qtip-header, .qtip-tooltip {
  font-size: 12px !important;  
}

