

div.moonrocksampleimagecontainer {
  width: 100%;
  background-color: white;
}

div.moonrocksampleimagecontainer img {
  width: 100%;
}

.moonrocksample {
  padding: 7px;
  border: 2px solid transparent;
  background-color: white;
  width: 300px;
  display: inline-block;
}

.moonrocksampleresult {
  width: 150px;
}

.moonrocksamplesnapshot {
  width: 100px;
}

.moonrocksampleresultrow {
  
}

.moonrocksampleimage {
  cursor: pointer;
}

.moonrocksampleresultheader {
  height: 17px;
  background: url(clip_a.png) bottom right no-repeat;
}

.moonrocksampleresultheaderfav {
  background: url(clip_b.png) bottom right no-repeat;
}

.moonrockSampleSearchFormTable tbody {
  border: none;
}

.moonrockSampleSearchFormTable th {
  border: none;
}

.moonrockSampleSearchFormTable td {
  border: none;
}

#moonrock_sample_search_throbber {
  height: 10px;
  display: block;
}


.moonrocksampleselected {
  border: 2px solid #6f964c;
  background-color: #d2f4b3;
}


