/* 
    Document   : moonrock_dialog
    Created on : Aug 15, 2012, 9:10:19 AM
    Author     : edvf2
    Description:
        Purpose of the stylesheet follows.
*/


.ui-dialog-title {
  font-size: 10px;
  
}

.ui-dialog .ui-dialog-titlebar {
  padding-top: 4px;
  padding-bottom: 3px;
}

.ui-dialog .ui-dialog-content {
  padding: 5px;
}



.moonrocksampleiframetopcontainer {
    padding: 0px;  
}

.moonrocksampleiframecontainer {
  width: 1000px;
  height: 680px;
  padding: 0px;  
  overflow: hidden;
}

.moonrocksampleiframe {
  width: 1000px;
  height: 1000px;
  border: 0px;
}


.moonrocksampledialogmenu {
  height: 16px;
  background-color: #f0f0f0;
}

.moonrocksampledialogmenuname {
  display: inline-block;
}


.moonrocksampledialogmenuitem {
  font-size: 12px;
  font-weight: bold;
  color: gray;
  display: inline-block;
}

.moonrocksampledialogmenuitem.enabled {
  cursor: pointer;
  color: darkorange;
}
