

.moonrock-sample-dlg {
}



.moonrock-sample-iframe-top-container {
  width: 100%;
  height: 100%;
  
  display: -moz-inline-box;
  display: -webkit-inline-box;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.moonrock-sample-iframe-container {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  overflow: hidden;
  
  padding: 0px;  
}

.moonrock-sample-iframe {
  width: 1020px;
  height: 800px;
  border: 0px;
}


.moonrock-sample-dlg-menu {
  height: 26px;
}

.moonrock-sample-dlg-menu-item {
  font-size: 12px;
  font-weight: bold;
  color: gray;
  display: inline-block;
}

.moonrock-sample-dlg-menu-item.enabled {
  cursor: pointer;
  color: black;
}

.moonrock-sample-dlg-menu-item.enabled:hover {
  color: darkorange;
}

.moonrock-sample-dlg-menu-save .moonrock-sample-dlg-menu-item-buttom {
  width: 21px;
  height: 16px;
  background: url(icons/save.png) no-repeat left;
  cursor: pointer;
  display: inline-block;
}



#moonrock-sample-newsnapshot-dlg {
  font-size: 14px;
}