
.search-tooltip-line {
  padding-left: 15px;
}

.search-tooltip-element {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: grey;
}
.search-tooltip-link {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-tooltip-link-active {
  cursor: pointer;
}


.search-tooltip-link-clear.search-tooltip-link-active {
  background: url(icons/folder_delete.png);
}

.search-tooltip-link-search.search-tooltip-link-active {
  background: url(icons/search.png);
}



.item-browser-container {
  position: relative;
  margin-left: 25px;
  height: 176px;
  margin-bottom: 20px;
}

.item-browser-scroll-container {
  position: absolute;
  overflow: hidden;
  top: 160px;
  left: 0px;
  height: 16px;
  width: 100%;
  background: #fafafa;
}

.item-browser-scroll-bar {
  position: absolute;
  top: 0px;
  width: 50px;
  height: 100%;
  background: #c8c8c8;
  cursor: pointer;
}

.item-browser-item {
  position: absolute;
  bottom: 20px;
  padding: 5px;
  border: 1px solid transparent;
}

.item-browser-item-selected {
  border: 1px solid black;
  background: lightgreen;
}

.item-browser-item-img {
  width: 100%;
  cursor: pointer;
}

.item-browser-item-title {
  text-align: center;
  font-weight: bold;
  height: 18px;
  overflow: hidden;
}

.item-browser-item-title-cluetip {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(icons/info.png) no-repeat right;
}

.item-browser-item-header {
  height: 17px;
  background: url(icons/clip_a.png) bottom right no-repeat;
}

.item-browser-item-header.item-browser-item-header-clip {
  background: url(icons/clip_b.png) bottom right no-repeat;
}

.item-browser-throbber {
  display: inline-block;
  height: 16px;
  width: 26px;  
}

.item-browser-throbber.active {
  background: url("icons/throbber.gif");
  background-repeat: no-repeat;
  background-position: right;
}


.moonrock-sample-search-table tbody {
  border : none;
}

.moonrock-sample-search-dlg {
  font-size: 12px;

}


