
.search-tooltip-line {
  padding-left: 15px;
}

.search-tooltip-element {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  color: grey;
}
.search-tooltip-link {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
}

.search-tooltip-link-active {
  cursor: pointer;
}


.search-tooltip-link-clear.search-tooltip-link-active {
  background: url(folder_delete.png);
}

.search-tooltip-link-search.search-tooltip-link-active {
  background: url(search.png);
}




.item-browser-container {
  padding-left: 25px;
  padding-bottom: 20px;
}

.item-browser-item {
  width: 200px;
  display: inline-block;
  padding: 5px;
  border: 1px solid transparent;
}

.item-browser-item-selected {
  border: 1px solid black;
  background: lightgreen;
}

.item-browser-item-img {
  width: 100%;
}

.item-browser-item-title {
  text-align: center;
  font-weight: bold;
}

.item-browser-item-title-cluetip {
  font-weight: bold;
  color: orange;
  display: inline-block;
  height: 12px;
  width: 18px;
  background: url(info.png) no-repeat right;
}

.item-browser-item-header {
  height: 17px;
  background: url(clip_a.png) bottom right no-repeat;
}

.item-browser-item-header.item-browser-item-header-clip {
  background: url(clip_b.png) bottom right no-repeat;
}

.item-browser-throbber {
  display: inline-block;
  height: 16px;
  width: 26px;  
}

.item-browser-throbber.active {
  background: url("throbber.gif");
  background-repeat: no-repeat;
  background-position: right;
}


.moonrock-sample-search-table tbody {
  border : none;
}

.moonrock-sample-search-dlg {
  font-size: 12px;

}


