

div.moonrocksampleimagecontainer {
  width: 100%;
}

div.moonrocksampleimagecontainer img {
  width: 100%;
  background-color: white;
}

.moonrocksample {
  padding: 7px;
  border: 2px solid transparent;
  width: 300px;
  display: inline-block;
}

.moonrocksampleresult {
  width: 150px;
}

.moonrocksamplesnapshot {
  width: 100px;
}

.moonrocksampleresultrow {
  
}

.moonrocksampleimage {
  cursor: pointer;
}

.moonrocksampleresultheader {
  height: 17px;
  background: url(clip_a.png) bottom right no-repeat;
}

.moonrocksampleresultheaderfav {
  background: url(clip_b.png) bottom right no-repeat;
}

.moonrocksampleselected {
  border: 2px solid #6f964c;
  background-color: #d2f4b3;
}


.moonrocksamplesnapshot.moonrocksampleselected {
  border: 2px solid #966f4c;
  background-color: #f4d2b3;
}
