

.moonrock-share-findings-question {
  font-size: 14px;
  font-weight: bold;
}

.moonrock-share-findings-chart {
}

.moonrock-share-findings-answer {
}

.moonrock-share-findings-hidden {
  display: none;
}

.moonrock-share-findings-collapsible {
  cursor: pointer;
  font-size: 12px;
  color: blue;
}

.moonrock-share-findings-collapsible div.button {
  width: 20px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 12px 12px;
  display: inline-block;
}

.moonrock-share-findings-collapsible.collapse-close div.button {
  background-image: url(icons/sq_br_down.png);
}
.moonrock-share-findings-collapsible.collapse-open div.button {
  background-image: url(icons/sq_br_up.png);
}