











#moonrockColorPickerSelection {
}

#moonrockColorPickerSelectionColor {
  width: 100%;
  height: 30px;
  border: solid 1px black;
  margin-right: 5px;
  color: transparent;
  padding: 20px;
  
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.moonrockColorPickerSelectionNoColor {
  border: solid 1px gray !important;
  background: white !important;
  color: black !important;
}

#moonrockColorPickerSelectionName {
  font-weight: bold;
  display: inline-block;
}

#moonrockColorPickerSelectionNameClear {
  display: inline-block;
  color: blue;
  cursor: pointer;
  padding-left: 5px;
}
#moonrockColorPickerSelectionNameClear.hidden {
  display: none;
}



#moonrockColorPickerSelectionNoName {
  font-style: italic;
  display: inline-block;
}

#moonrockColorPickerButtons {
  
}

#moonrockColorPickerExplanation {
  font-size: small;
}



#rock-color-picker-container {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 4000;
  display: none;
}

.rock-color-picker-chip {
  cursor: pointer;
}

.rock-color-picker-chip:hover .rock-color-picker-border {
  stroke: black;
}

.rock-color-picker-chip .rock-color-picker-selection-border  {
  stroke: blue;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.rock-color-picker-chip.selected .rock-color-picker-border {
  stroke: none;
}

.rock-color-picker-close {
  cursor: pointer;
}
