


.moonrock-data-input-button-menu {
  padding-bottom: 10px;
}


.moonrock-data-input-button {
  display: inline-block;
  font-weight: bold;
  color: darkgray;
  margin-right: 5px;
}

.moonrock-data-input-button.enabled {
  cursor: pointer;
  color: blue;
}


.moonrock-data-input-hidden {
  display: none;
}