
.moonrock-data-browser-container {
  padding-top: 20px;
}

.moonrock-data-browser-heading {
  font-weight: bold;
  font-size: 16px;
}

.moonrock-data-browser-throbber {

} 

.moonrock-data-browser {

}
