
.moonrock-data-browser-container {
  padding-top: 5px;
}

.moonrock-data-browser-heading {
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 3px;
}

.moonrock-data-browser-throbber {

} 

.moonrock-data-browser {
  
}
