

.moonrock-measure-field {
}

.moonrock-measure-field-value {
  font-size: 14px;
  padding: 1px 3px 1px 3px;
  border: 1px solid #aaa;
  background: white;
  vertical-align: middle;
  font-weight: bold;
  margin-bottom: 2px;
  cursor: pointer;
}
.moonrock-measure-field-value.empty {
  font-weight: normal;
  font-size: 10px;
}



div.moonrock-measure-field-button {
  color: blue;
  cursor: pointer;
}

.moonrock-measure-field-button-hidden {
  display: none;
}
