/* 
    Document   : method_input
    Created on : 23-Sep-2012, 18:19:49
    Author     : edvf2
    Description:
        Purpose of the stylesheet follows.
*/

table.moonrock-method td {
  vertical-align: top;
}

