

.layout-tabbed-container {
}

.layout-tabbed-container-tabs {
  border-bottom: 1px solid gray;
  height: 20px;
  margin-bottom: 10px;
}

.layout-tabbed-container-tab {
  background: #ddd;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 2px 8px 2px 8px;
  height: 15px;
  margin: 0px 0px 0px 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.layout-tabbed-container-hidden {
  display: none;
}

.layout-tabbed-container-contents {
}

.layout-tabbed-container-content {
  display: none;
  width: 100%;
  height: 100%;
}

.layout-tabbed-container-content.layout-tabbed-container-selected {
  display: block;
}


.layout-tabbed-container-tab.layout-tabbed-container-selected{
  background: white;
  border-bottom: 1px solid white;
}

.layout-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layout-box {
  position: relative;
}
.layout-block {
  position: absolute;
}
