
.moonrock_review_findings_search_table {
  margin-left: 15px;
  width: 300px;

}

.moonrock_review_findings_search_table tbody {
  border: none;
}

.moonrock_review_findings_search_table td {
  width: 150px;
}


#moonrock-review-findings-search-throbber {
  height: 16px;
  width: 26px;  
  display: inline-block;
}

#moonrock-review-findings-search-throbber.active {
  background: url("icons/throbber.gif");
  background-repeat: no-repeat;
  background-position: right;
}

.item-browser-throbber {
  display: inline-block;
  height: 16px;
  width: 26px;  
}

.moonrock-review-findings-search-throbber {
  font-size: 14px;
  font-weight: bold;
  width: 150px;
}