.collapsibleContainer {
  border: solid 1px #6c7580;
  width: 70%;  
}

.collapsibleContainerTitle {
  cursor:pointer;
}

.collapsibleContainerTitle div {
  height: 15px;
  padding-top:2px;
  padding-left:20px;
  font-weight: bold;
  background-color: #cedef4;
  background-repeat: no-repeat;
  background-image: url(up.png);
}

.collapsibleContainerTitle div.down {
  background-image: url(down.png);
}

.collapsibleContainerContent {
  padding: 10px;
}