


.vm-dlg-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-block;
  margin-right: 3px;
}

.vm-dlg-icon-close {
  background: url(close.png) no-repeat center;
}
.vm-dlg-icon-close:hover {
  background: url(close-hover.png) no-repeat center;
}

.vm-dlg-icon-max {
  background: url(max.png) no-repeat center;
}
.vm-dlg-icon-max:hover {
  background: url(max-hover.png) no-repeat center;
}
.vm-dlg-icon-min {
  background: url(min.png) no-repeat center;
}
.vm-dlg-icon-min:hover {
  background: url(min-hover.png) no-repeat center;
}

.vm-dlg-dialog {
  position: fixed !important;
  top: 50px;
  left: 50px;
  width: 600px;
  height: 480px;
  border: 5px solid gray;
  border-radius: 15px;
  padding: 5px;
  
    overflow: hidden;


  display: -moz-inline-box;
  display: -webkit-inline-box;

  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;

  background: white;
  z-index: 3000;
}

.vm-dlg-buttons {
  height: 30px;
}

.vm-dlg-title {
  display: inline-block;
  font-weight: bold;
}

.vm-dlg-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  padding: 10px;
}


