


.moonrock-data-form-page {
  position: relative;
}

.moonrock-data-form-search, .moonrock-data-form-vmform {
  width: 100%;
  background: white;

  display: -moz-inline-box;
  display: -webkit-inline-box;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
}


.moonrock-data-form-hidden {
  display: none;
}



.moonrock-data-form-vm, .moonrock-data-form-search-items {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.moonrock-data-form-vm {
  
}



.moonrock-data-form-backtovm {
  width: 42px;
  height: 32px;
}
.moonrock-data-form-backtovm.moonrock-data-form-backtovm-enabled {
  background: url(icons/back_to_vm.png) no-repeat center;
  cursor: pointer;
}

.moonrock-data-form-backtosearch {
  position: absolute;
  width: 42px;
  height: 32px;
  background: url(icons/back_to_search.png) no-repeat center;
  cursor: pointer;
}

.moonrock-data-form-snapshot-filter-key {
  font-weight: bold;
}
.moonrock-data-form-snapshot-filter-input {
  padding-bottom: 20px;
}

.moonrock-data-form-item {
  text-align: center;
  padding-bottom: 10px;
}

.moonrock-data-form-item div {
  display: inline-block;
}

.moonrock-data-form-item-title {
  font-weight: bold;
  font-size: 16px;
}

.moonrock-data-form-item-button {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.moonrock-data-form-item-button.moonrock-data-form-item-enabled {
  cursor: pointer;
}

.moonrock-data-form-item-previous {
  background-image: url(icons/left_grey.png);
}
.moonrock-data-form-item-next {
  background-image: url(icons/right_grey.png);
}
.moonrock-data-form-item-previous.moonrock-data-form-item-enabled {
  background-image: url(icons/left.png);
}
.moonrock-data-form-item-next.moonrock-data-form-item-enabled {
  background-image: url(icons/right.png);
}

.moonrock-data-form-vm-container {
  width: 100%;
}

.moonrock-data-form-vm-container iframe {
  border: none;
  width: 100%;
  height: 100%;  
}

.qtip-link {
  border: none !important;
}



.moonrock-data-form-false-block {
  width: 200px;
  padding-left: 10px;
  position: relative;
}

.moonrock-data-form-false-block h2.title {
  color: #fff;
  padding: 4px 10px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border: 1px solid #888;
  background-color: #1348A1;
}

.moonrock-data-form-false-block .content {
  margin: 0;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  border-top: none;
  background-color: #EDEDED;
  border: 1px solid #E3E3E3;
  padding: 10px;
}

.moonrock-measure-title {
  display: inline-block;
  font-weight: bold;
  padding-top: 15px;
}

.moonrock-measure-fixedvalue {
  padding-left: 10px;
}

.moonrock-snapshot-no-value {
  font-weight: normal;
  font-weight: bold;
}

.moonrock-measure-fixedvalue.moonrock-snapshot-no-value {
  color: red;
}

#moonrock-data-form-vm-resize {
  display: none;
}


.moonrock-sample-list-header {
  font-size: 14px;
  font-weight: bold;
}
