

.moonrock-sample-tip {
  font-size: 14px;
}

.moonrock-sample-tip-table {
}

.moonrock-sample-tip-row {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.moonrock-sample-tip-row-odd {
  background: #fafafa;
}

.moonrock-sample-tip-td {
  padding: 5px;
}

.moonrock-sample-tip-td-key {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
}

.moonrock-sample-tip-td-value-date {
  font-size: 12px;
  font-family: monospace;
}

a.external_link div {
  display: inline-block;
  padding-left: 5px; 
  width: 12px;
  height: 12px;
  background: url(icons/external_link.png) center no-repeat;
}
