

#pi-result-presentations-measures {
  border-left: 1px solid gray;
  vertical-align: top;
  width: auto;
  display: block;
}

.pi-result-presentations-measures-block {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;

  padding-left: 10px;
  padding-right: 10px;
  
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.pi-result-presentations-measures-block-hidden {
  display: none;
}

#pi-result-presentations-preview-container {
  position: relative;
  height: 250px;
  width: 700px;
}

#pi-result-presentations-preview-loading {
  position: absolute;
  left: 325px;
  top: 100px;
  width: 50px;
  height: 50px;
  
  -webkit-mask-image: url(spinner.png);
  -webkit-mask-size: 50, 50;
  background-color: #000;
  -webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}
