



.annotation-svg {
  position: absolute;
  top: 0px;
  left: 0px;
}

svg.annotation-inactive, svg.annotation-inactive g, svg.annotation-inactive polyline {
  pointer-events: none;
}

.annotation-buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: white;
  border: 1px solid #444;
  height: 38px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  
  pointer-events: auto;
}

.annotation-mode-selector {
  display: inline-block;
  width: 40px;
  height: 25px;
  border: 3px solid;
  border-color: white;
  border-radius: 3px;
  margin: 2px;
}

.annotation-color {
}
.annotation-color-blue {
  background: blue;
}
.annotation-color-red {
  background: red;
}
.annotation-color-yellow {
  background: yellow;
}
.annotation-color-green {
  background: green;
}

.annotation-erase {
  background: url(icons/eraser.png) no-repeat center;
  background-size: 25px 25px;
}

.annotation-mode-selected {
  border-color: #444;
}

.annotation-done-button-container {
  display: inline-block;
  height: 100%;
  position: relative;
  vertical-align: top;
  padding: 5px;  
}
.annotation-done-button-container button {
  position: relative;
}

.annotation-buttons.annotation-inactive {
  display: none;
}

